<%= form_for @student, :url => { :controller => 'students', :action => 'update', :id=>@student } do |f| %>
  <div class="edl">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="edl">
    <%= f.label :weight, "Weight:" %>
    <%= f.text_area :weight %>
  </div>
  <br>
  <div class="edl">
    <%= f.label :height, "Height:" %>
    <%= f.text_area :height %>
  </div>
  <br>
  <div class="edl">
    <%= f.label :color, "Color:" %>
    <%= f.text_area :color %>
  </div>
  <br>
  <div class="edl">    
    <%= f.label :gpa, "GPA:" %>
    <%= f.text_area :gpa %>
  </div>  
  <br>
  <div class="edl">    
    <%= f.label :description, "Description:" %>
    <%= f.text_area :description %>
  </div> 
  <br>
  <div class="edl">    
    <%= f.label :sex, "Sex:" %>
    <%= f.text_area :sex %>
  </div> 
  <br>

    <%= f.submit "Update" %>
<% end %>