<h1>Student List</h1>
<%= javascript_include_tag :all %>

<table style="border: 1px solid black;border-collapse: collapse;width: 98.5%;">
<% @students.each do |s| %>
    <tr>
        <td style="font-size:20px;color:<%= s.color %>"><%= s.name %></td>
        <td><%= link_to 'Information', :controller => 'students', :action => 'show', :id => s %></td>
        <td><%= link_to 'Edit', :controller => 'students', :action => 'edit', :id => s %></td>
        <td><%= link_to 'Delete', :controller => 'students', :action => 'destroy', :id => s %></td>
    </tr>
   
<% end %>
</table>
 <%= link_to 'New Student', :controller => 'students', :action => 'new' %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="rec">
    <% @students.each do |p| %>
    
    <div class="rec" style="width:<%=p.weight %>px;height:<%= p.height %>px;display:inline-block;border:1px solid #000;">
        
        
          <p style="color:<%= p.color %>;text-align:center"><%= p.name %></p>
          <p style="text-align:center"><%= p.gpa %></p>
     
        
    </div>
    <% end %>
</div>




